.topic {
	background-color: #EBE8E1;
	font-weight: bolder;
}

.form-control {
	margin-top: 5%;
}

.table>thead>tr>th {
	text-align: center;
	vertical-align: middle;
	vertical-align: middle;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.information {
	text-align: left;
}

img {
	vertical-align: top;
	text-align: center;
}

#email {
	color: #0066CC;
}

#message {
	color: red;
}

.btn-slatelightblue {
	margin-right: 1%;
	margin-left: 1%;
}
