<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>お気に入り一覧</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">
</head>

<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="main-title">お気に入り一覧</div>
				<hr />
			</div>
			<div class="col-sm-3"></div>
		</div>

		<!-- 結果一覧表示エリア -->
		<div th:if="${productInfos} != null" class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 table-responsive result-table">
				<table class="table table-striped table-bordered">
					<tbody>
						<tr th:each="product,stat : ${productInfos}">
							<td th:text="${stat.count}"></td>
							<td>
								<img class="thumbnail-img" th:field="${product.productImage}"/>
 								<a href="javascript:void(0)" th:utext="${product.productName}" th:onclick="'document.defaultLink' + ${product.productId} + '.submit(); return false;'"></a>
 								<form th:name="'defaultLink' + ${product.productId}" method="post" th:action="@{/product/product-detail}">
									<input type="hidden" name="productId" th:value="${product.productId}">
								</form>
								<p th:utext="${product.productBrand}"></p>
								<span th:utext="${product.productPrice}"></span><span> 円</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-3"></div>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/js/product/main.js}"></script>
	</div>
</body>
</html>