<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<link th:substituteby="common/head" />
	
	    <meta charset="utf-8">
	  	<title>管理者情報編集</title>
		
	    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		
	    <style type="text/css">
			<!--
	            .add-area {
	                margin-top: 30px;
	                margin-bottom: 30px;
	            }
	            .topic {
	                background-color: #EBE8E1;
	                font-weight: bolder;
	            }
	            .table-controll-area {
	                margin-top: 30px;
	                margin-bottom: 15px;
	            }
	            #add-new {
	                padding-top: 56px;
		            padding-left: 36px;
		            padding-right: 36px;
		            padding-bottom: 43px;
		        }
		        .input-info-area {
		            margin-top: 20px;
		            margin-left: 20px;
		            margin-right: 20px;
		            margin-bottom: 20px;
		        }
		   -->
		</style>  	  
	</head>
	
	<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="#">利用状況サマリ</a></li>
                    <li><a href="#">クーポン情報登録</a></li>
                    <li class="active"><a href="#">管理者情報登録</a></li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
        
        <form class="form-inline">
            <div class="add-area">
            	<div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <!-- モーダルへのリンク -->
                        <button class="btn btn-danger pull-right" onclick="window.location.href='#div-modal'" type="button" data-toggle="modal" data-target="#add-new">新規追加</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </form>

        <div class="administrator-table">
            <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr class="topic">
                                    <td>管理者ID</td>
                                    <td>メールアドレス</td>
                                    <td>更新／削除</td>
                                </tr>
                            </thead>
                            <tbody>
                              <tr th:each="user : ${users}">
                                <td th:text="${user.id}">AAAAAAAAAAA1</td>
                                <td th:text="${user.email}">nyanyanyan@gmail.com</td>
                                <td>
                                    <form class="form-inline">
                                        <button class="btn btn-info" onclick="window.location.href='#div-modal'" type="button" data-toggle="modal" data-target="#add-new">更新</button>
                                        <button type="button" class="btn btn-primary">削除</button>     
                                    </form>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <!-- モーダルウィンドウの本体 -->
        <div id="add-new" class="modal fade"> 
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">管理者情報更新</h4>
                        <form class="form-horizontal">
                            <div class="row input-info-area">
                                <label for="id" class="col-md-3 control-label">ログインID</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="id" placeholder="id">
                                        </div>              
                                    </div>
                            </div>

                            <div class="row input-info-area">
                                <label for="password" class="col-md-3 control-label">パスワード</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="password" placeholder="Password">
                                        </div>              
                                    </div>
                            </div>
                                            
                            <div class="row input-info-area">
                                <label for="mail-addless" class="col-md-3 control-label">連絡先</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="mail-addless" placeholder="mail addless">
                                        </div>              
                                    </div>
                            </div>
                                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">キャンセル</button>
                                    <button type="button" class="btn btn-primary pull-right">登録／更新</button>
                                </div>    
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
      </div>
      
	<div th:substituteby="common/js-import"></div>
	</body>
</html>