<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>アカウント新規登録</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">
</head>

<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row" th:object="${userForm}">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h3 th:if="*{regCompFlg} == 0">詳細情報登録</h3>
				<h3 th:if="*{regCompFlg} == 1">詳細情報更新</h3>
				<hr />
			</div>
			<div class="col-sm-3"></div>
		</div>

		<!-- 入力エラー表示エリア -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p id="errorMsg" th:text="${errorMsg}">error</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<form role="form" action="#" th:action="@{/user-detail/registar}"
			th:object="${userForm}" method="post">

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="famName" class="control-label">氏名</label>
					<div class="form-inline">
						<input type="text" class="form-control md-txt-box" id="famName"
							name="famName" th:field="*{famName}" placeholder="姓" /> <span
							th:if="${#fields.hasErrors('famName')}" class="text-danger"
							th:errors="*{famName}">Error</span>
							<input type="text" class="form-control md-txt-box" id="firName"
							name="firName" th:field="*{firName}" placeholder="名" /> <span
							th:if="${#fields.hasErrors('firName')}" class="text-danger"
							th:errors="*{firName}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<hr />
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="famNameKana" class="control-label">氏名カナ</label>
					<div class="form-inline">
						<input type="text" class="form-control md-txt-box" id="famNameKana"
							name="famNameKana" th:field="*{famNameKana}" placeholder="姓カナ" />
						<span th:if="${#fields.hasErrors('famNameKana')}"
							class="text-danger" th:errors="*{famNameKana}">Error</span> <input
							type="text" class="form-control md-txt-box" id="firNameKana"
							name="firNameKana" th:field="*{firNameKana}" placeholder="名カナ" />
						<span th:if="${#fields.hasErrors('firNameKana')}"
							class="text-danger" th:errors="*{firNameKana}">Error</span>

					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="gender" class="control-label">性別</label>
					<div class="form-group" th:if="*{regCompFlg} == 0">
						<span th:if="${#fields.hasErrors('gender')}" class="text-danger"
							th:errors="*{gender}">Error</span>
						<div class="radio-inline">
							<input type="radio" value="0" name="gender" id="man"> <label
								for="man">男性</label>
						</div>
						<div class="radio-inline">
							<input type="radio" value="1" name="gender" id="woman"> <label
								for="woman">女性</label>
						</div>
					</div>
					<p th:if="*{regCompFlg} == 1" th:text="*{gender}"></p>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="birthDate" class="control-label">生年月日</label>
					<div class="form-inline">
						<input type="text" class="form-control" id="year" name="year"
							th:field="*{year}" placeholder="" /> 年 <span
							th:if="${#fields.hasErrors('year')}" class="text-danger"
							th:errors="*{year}">Error</span> <input type="text"
							class="form-control" id="month" name="month" th:field="*{month}"
							placeholder="" /> 月 <span th:if="${#fields.hasErrors('month')}"
							class="text-danger" th:errors="*{month}">Error</span> <input
							type="text" class="form-control" id="day" name="day"
							th:field="*{day}" placeholder="" /> 日 <span
							th:if="${#fields.hasErrors('day')}" class="text-danger"
							th:errors="*{day}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="postalCd" class="control-label">郵便番号</label>
					<div class="form-inline">
						〒<input type="text" class="form-control sm-txt-box" id="firPostalCd"
							name="firPostalCd" th:field="*{firPostalCd}" placeholder="" /> -
						<span th:if="${#fields.hasErrors('firPostalCd')}"
							class="text-danger" th:errors="*{firPostalCd}">Error</span> <input
							type="text" class="form-control sm-txt-box" id="lastPostalCd"
							name="lastPostalCd" th:field="*{lastPostalCd}" placeholder="" />
						<span th:if="${#fields.hasErrors('lastPostalCd')}"
							class="text-danger" th:errors="*{lastPostalCd}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="mailAddress" class="control-label">住所</label>
					<div class="form-group">
						<input type="text" class="form-control" id="address"
							name="address" th:field="*{address}" placeholder="" /> <span
							th:if="${#fields.hasErrors('address')}" class="text-danger"
							th:errors="*{address}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-4">
					<label for="phone" class="control-label">電話番号</label>
					<div class="form-group">
						<input type="text" class="form-control" id="phone" name="phone"
							th:field="*{phone}" placeholder="" /> <span
							th:if="${#fields.hasErrors('phone')}" class="text-danger"
							th:errors="*{phone}">Error</span>
					</div>
				</div>
				<div class="col-sm-5"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary pull-right" th:if="*{regCompFlg} == 0">登録</button>
					<button type="submit" class="btn btn-primary pull-right" th:if="*{regCompFlg} == 1">更新</button>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>

	</div>

	<div th:substituteby="common/js-import"></div>

</body>
</html>