<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>アカウント新規登録</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">

</head>
<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h3 th:if="${userInfo} eq null">アカウント新規登録</h3>
				<h3 th:if="${userInfo} != null">アカウント情報更新</h3>
				<hr />
			</div>
			<div class="col-sm-3"></div>
		</div>

		<!-- 入力エラー表示エリア -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p id="errorMsg" th:text="${errorMsg}">error</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<form role="form" action="#" th:action="@{/user/registar}"
			th:object="${userRegistForm}" method="post">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="id" class="control-label">ユーザID</label>
					<div class="form-group">

						<!-- 							th:if="${updateFlg} eq 1" th:utext="${summary.couponSearchDatetime}" -->
						<input type="text" class="form-control" id="id" name="id"
							th:field="*{id}" placeholder="ユーザIDは12文字以内で入力してください。" /> <span
							th:if="${#fields.hasErrors('id')}" class="text-danger"
							th:errors="*{id}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="password" class="control-label">パスワード</label>
					<div class="form-group">
						<input type="password" class="form-control" id="password"
							name="password" th:field="*{password}"
							placeholder="パスワードは12文字以内で入力してください。" /> <span
							th:if="${#fields.hasErrors('password')}" class="text-danger"
							th:errors="*{password}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="passwordConf" class="control-label">パスワード確認用</label>
					<div class="form-group">
						<input type="password" class="form-control" id="passwordConf"
							name="passwordConf" th:field="*{passwordConf}" /> <span
							th:if="${#fields.hasErrors('passwordConf')}" class="text-danger"
							th:errors="*{passwordConf}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary pull-right">新規登録</button>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>

	</div>

	<div th:substituteby="common/js-import"></div>

</body>
</html>