<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>商品詳細</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">
</head>

<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6" th:object="${productInfo}">
				<div class="main-title">ここにがぞうがはいるよ</div>
				<table class="table table-striped table-bordered">
					<tbody>
						<tr>
							<td class="attr-title">商品名</td>
							<td>
								<p th:utext="*{productName}"></p>
							</td>
						</tr>
						<tr>
							<td class="attr-title">ブランド名</td>
							<td>
								<p th:if="*{productBrand} != null" th:utext="*{productBrand}"></p>
								<p th:if="*{productBrand} eq null"> - </p>
							</td>
						</tr>
						<tr>
							<td class="attr-title">小計 (円)</td>
							<td>
								<p th:utext="*{productPrice}"></p>
							</td>
						</tr>
						<tr>
							<td class="attr-title">詳細情報</td>
							<td>
								<p th:utext="*{productDetail}"></p>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="attr-title">お気に入り登録件数 </span> <span
						th:utext="*{favoriteCount}"></span> <span> 件</span>
				</div>
<!-- 				<div th:object="${tagInfo}">
					<span class="attr-title">お気に入り登録件数 </span> <span
						th:utext="*{favoriteCount}"></span> <span> 件</span>
				</div> -->
				<hr />
				<form role="form" class="form-inline" id="detail-form" th:action="@{/product/cartIn}" th:object="${productForm}" method="post">
					<input type="hidden" id="productId" name="count" th:field="*{productId}" />
					<input type="hidden" id="productType" name="productType" th:field="*{productType}" />
 					<input type="hidden" id="count" name="count" th:field="*{count}" />
 					<input type="hidden" id="flg" name="flg" value="0" />

					<div class="table-controll-area">
						<div class="row">
							<div class="col-sm-3">タイプ選択</div>
							<div class="select-type-dropdown col-sm-5">
								<select class="form-control select-type">
									<option class="product-types" th:each="productType : ${productTypes}" th:text="${productType.productTypeName}" th:value="${productType.productTypeId}"></option>
								</select>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<div class="col-sm-3">個数選択</div>
							<div class="count-dropdown col-sm-5">
								<select class="form-control select-count">
									<option class="count-1" th:value="1">1</option>
									<option class="count-1" th:value="2">2</option>
									<option class="count-1" th:value="3">3</option>
									<option class="count-1" th:value="4">4</option>
									<option class="count-1" th:value="5">5</option>
								</select>
							</div>
							<div class="col-sm-4"></div>
						</div>
					</div>	
					
					<!-- エラー表示エリア -->
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-6">
							<p id="errorMsg" th:text="${errorMsg}">error</p>
						</div>
						<div class="col-sm-3"></div>
					</div>			
					
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-2"></div>
						<button type="submit" id="cart-in" class="btn btn-success col-sm-8 submit" data-action="@{/product/cartIn}">
							<i class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i>カートに入れる
						</button>
						<div class="col-sm-2"></div>
					</div>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-2"></div>
						<button type="submit" id="favorite" class="btn btn-like col-sm-8 submit" data-action="@{/product/favorite}">
							<i class="fa fa-heart fa-lg" aria-hidden="true"></i>お気に入り登録
						</button>
						<div class="col-sm-2"></div>
					</div>
				</form>

			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script th:src="@{/resources/js/product/main.js}"></script>	
	<script th:src="@{/resources/js/common/main.js}"></script>	

</body>
</html>