<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>my page</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">
<link rel="stylesheet" th:href="@{/resources/css/user/main.css}">

</head>

<body>
<div th:substituteby="common/navbar"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-md-6">
			<h2>My Page</h2>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<hr/>
	<!-- info表示エリア -->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<p id="infoMsg" th:text="${infoMsg}">info</p>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-md-6">
		<p>お届け先情報が登録されていません。</p>
		<table class="table table-responsive table-striped table-bordered">
		    <tbody>
		      <tr>
		        <td><a href="login/user-index" >ログイン</a></td>
		      </tr>
		      <tr>
		        <td><a href="logout" >ログアウト</a></td>
		      </tr>
		      <tr>
		        <td><a href="user/favorite" >お気に入り</a></td>
		      </tr>
			　　<tr>
		        <td><a href="coupon/index" >商品購入履歴</a></td>
		      </tr>
		      <tr>
		        <td><a href="product/index" >商品一覧</a></td>
		      </tr>
		      <tr>
		        <td><a href="user/regist-user-detail" >お届け先登録/更新</a></td>
		      </tr>
		      <tr>
		        <td><a href="state/index" >退会手続き</a></td>
		      </tr>
		    </tbody>
		</table>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>

<div th:substituteby="common/js-import"></div>

</body>
</html>
