.input-area {
	background-color: #EBE8E1;
	margin-bottom: 30px;
	padding-top: 3%;
	padding-bottom: 2%;
}

.input-info-area {
	font-size: 14px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#errorMsgs {
	color: red;
}

#message {
	color: red;
}

.required {
	color: red;
}

.btn-slategray {
	color: #585858;
}

.btn-slategray:hover {
	color: #585858;
}