thead {
	background-color: #EBE8E1;
	font-weight: bold;
}

.table>thead>tr>th {
	text-align: center;
	vertical-align: middle;
}

.table-label {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #EBE8E1;
}

.upload-area {
	background-color: #ebe8e1;
	margin-top: 20px;
	margin-bottom: 20px;
 	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
}

.panel>.form-group {
	margin-bottom: 0px;
}

.containts-line {
	border-width: 3px 0 0 0;
	margin-top: 30px;
	margin-bottom: 0px;
}

.col-sm-10 {
	padding-right: 0px;
}

.form-inline .form-control {
	width: 100%;
}

.upload-btn-area {
	//width: 100px;
	position:relative;
    overflow:hidden;
    height:35px;
}
#hidden_file {
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;
   	opacity: 0;
    filter:alpha(opacity=0);
    font-size:124px;
}
#fileselect {
	position: absolute;
	right: 0;
	z-index: 1;
	width: 100%;
}