/* body style */
body {
	margin-top: 0px;
}

.container {
    width: 95%;
}

/* navbar style */
.navbar {
	background-color: #ffb6c1;
}

#top-title {
	font-size: 30px;
	color: #708090;
	position: relative;
	top: 55%;
	transform: translateY(-50%);
}

.navbar-brand {
	padding-top: 6px;
	margin: 0 auto;  
}

/* menu tab style */
.menu {
	margin: auto;
	display: table-cell;
	text-align: center;
}

.menu-line {
	width: 100%;
	height: 5px;
	border-top: 2px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}

/* bootstrap.min.css override */
/* .navbar-brand {
	padding-top: 7px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.col-sm-12 {
	padding-right: 0px;
	padding-left: 0px;
}
 */
/* title bar style */
.title-bg {
	width: 100%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 3%;
}

.deco {
	background-color: #EC5504;
	width: 8px;
	height: 34px;
	margin-right: 5px;
	display: inline-block;
}

.main-title {
	font-size: 200%;
	display: table-cell;
	vertical-align: top;
	display: inline-block;
}

.system-error-msg {
	color: #6E6E6E;
	font-size: 130%;
	font-weight: bolder;
}

.sm-txt-box {
	width:100px;
}

.md-txt-box {
	width:200px;
}

.lg-txt-box {
	width:80%;
}

/* message style */
.text-danger {
    color: red;
}

.attr-title {
	color: #2f4f4f;
	font-weight: bolder;
}

.space {
	padding:3px;
}

.btn-like {
  background: rgb(250, 255, 140);
  color: #f08080;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-like:hover, .btn-like:focus {
  background: rgb(252, 255, 179);
}

.btn-like:active {
  background: rgb(247, 255, 71);
}
