<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
    		<a class="navbar-brand" href="#">
          		<i class="fa fa-heart fa-2x icon" aria-hidden="true"></i>
			</a>
			<span id="top-title">My Little Beauty</span>
		</div>
		<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nav6 <span class="caret"></span></a> -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="dropdown-menu">
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li class="divider"></li>
              <li><a href="#">link3</a></li>
            </ul>
            </nav>
          </li>
      </ul>
	</div>
</nav>