<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>login</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">

</head>
<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>login</h1>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<!-- 入力エラー表示エリア -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p id="errorMsg" th:text="${errorMsg}">error</p>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<form role="form" action="#" th:action="@{/userLogin/authenticate}"
			th:object="${loginForm}" method="post">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="id" class="control-label">ユーザID</label>
					<div class="form-group">
						<input type="text" class="form-control" id="id" name="id"
							th:field="*{id}" placeholder="id" /> <span
							th:if="${#fields.hasErrors('id')}" class="text-danger"
							th:errors="*{id}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="password" class="control-label">パスワード</label>
					<div class="form-group">
						<input type="password" class="form-control" id="password"
							name="password" th:field="*{password}" placeholder="Password" />
						<span th:if="${#fields.hasErrors('password')}" class="text-danger"
							th:errors="*{password}">Error</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary pull-right">Login</button>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<a th:href="@{/user/regist-user}">アカウント新規登録</a> | <a href="admin-index">管理者ログイン</a>
<!-- 				<a href="user/regist-user">アカウント新規登録</a> | <a href="admin-index">管理者ログイン</a> -->
			</div>
			<div class="col-sm-3"></div>
		</div>

	</div>

	<div th:substituteby="common/js-import"></div>

</body>
</html>