.search-area {
	height: 100%;
	background-color: #EBE8E1;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

.form-group {
	vertical-align: middle;
}

.topic {
	background-color: #EBE8E1;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
}

.table>tbody>tr>td {
	vertical-align: middle;
}


.form-control {
	margin-top: auto;
}

.table-controll-area {
	margin-top: 30px;
	margin-bottom: 15px;
}
 
.containts-line {
	border-width: 3px 0 0 0;
	margin-top: 30px;
	margin-bottom: 0px;
}

.btn-slategray {
    color: #2E9AFE;
    font-weight: bolder;
    border-color: #ccc;
}

.btn-slategray:hover {
    color: #2E9AFE;
}

.select-summary:hover {
    color: #000000;
}

#errorMsg {
	color: red;
}