<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>管理者TOP</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">
<link rel="stylesheet" th:href="@{/resources/css/user/main.css}">

</head>

<body>
<div th:substituteby="common/navbar"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>管理者TOP</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-6">
		<table class="table table-responsive table-striped table-bordered">
		    <tbody>
		      <tr>
		        <td><a href="login/admin-index" >ログイン</a></td>
		      </tr>
		      <tr>
		        <td><a href="regist-product" >商品登録</a></td>
		      </tr>
			　　<tr>
		        <td><a href="coupon/index" >管理者情報削除</a></td>
		      </tr>
		    </tbody>
		</table>
		</div>
	</div>
</div>

<div th:substituteby="common/js-import"></div>

</body>
</html>
