<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/head" />
<meta charset="utf-8">
<title>商品登録</title>
<link rel="stylesheet" th:href="@{/resources/css/common/main.css}">

</head>
<body>
	<div th:substituteby="common/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-md-6">
				<h2>商品登録</h2>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<hr />

		<form role="form" action="#" th:action="@{/product/registar}" enctype="multipart/form-data" th:object="${productRegistForm}"
			method="post">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<label for="productName" class="control-label">商品名</label>
					<div class="form-group">
						<input type="text" class="form-control" id="productName"
							name="productName" th:field="*{productName}"
							placeholder="商品名を100文字以内で入力してください。" /> <span
							th:if="${#fields.hasErrors('productName')}" class="text-danger"
							th:errors="*{productName}">Error</span>
					</div>
					<label for="price" class="control-label">小計</label>
					<div class="form-group">
						<input type="text" class="form-control sm-txt-box" id="price"
							name="price" th:field="*{price}" placeholder="" /> <span
							th:if="${#fields.hasErrors('price')}" class="text-danger"
							th:errors="*{price}">Error</span>
					</div>
					<label for="productDetail" class="control-label">商品説明</label>
					<div class="form-group">
						<textarea class="form-control" id="productDetail"
							name="productDetail" th:field="*{productDetail}"
							placeholder="商品詳細説明を256文字以内で入力してください。"></textarea>
						<span th:if="${#fields.hasErrors('productDetail')}"
							class="text-danger" th:errors="*{productDetail}">Error</span>
					</div>
					<label for="productBland" class="control-label">ブランド名</label>
					<div class="form-group">
						<input type="text" class="form-control" id="productBland"
							name="productBland" th:field="*{productBland}"
							placeholder="ブランド名を50文字以内で入力してください。" /> <span
							th:if="${#fields.hasErrors('productBland')}" class="text-danger"
							th:errors="*{productBland}">Error</span>
					</div>
 					<div class="row">
						<div class="col-sm-3">
							<label for="productImage" class="control-label">商品画像</label>
						</div>
						<div class="col-sm-9">
							<input type="file" class="form-control md-txt-box"
								id="productImage_1" name="productImage"
								th:field="*{productImage}" placeholder="商品画像" />
						</div>
					</div>
					<label for="tag" class="control-label">商品タグ</label>
					<div class="form-inline">
						<input type="text" class="form-control sm-txt-box" id="tag1" name="tag" th:field="*{tag}" placeholder="" />
						<input type="text" class="form-control sm-txt-box" id="tag2" name="tag" th:field="*{tag}" placeholder="" />
						<input type="text" class="form-control sm-txt-box" id="tag3" name="tag" th:field="*{tag}" placeholder="" />
					</div>
					<div class="space"></div>
					<label for="productBland" class="control-label">商品タイプ情報</label>
					<div class="form-inline"></div>
					<table class="table table-responsive table-striped table-bordered">
						<tbody>
							<tr>
								<td id="item_1">
									<div class="row">
										<div class="col-sm-3">
											<label for="productType" class="control-label">商品タイプ名</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control lg-txt-box"
												id="productType_1" name="productType"
												th:field="*{productType}" placeholder="商品タイプ名（カラーなど）" />
										</div>
									</div>
									<div class="row">
										<div class="col-sm-3">
											<label for="stockCount" class="control-label">在庫数</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control md-txt-box"
												id="stockCount_1" name="stockCount" th:field="*{stockCount}"
												placeholder="在庫数" />
										</div>
									</div>
									<hr />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<input type="button" value="商品タイプの追加" id="add_form"
						class="btn btn-primary pull-right" />
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<hr />
				</div>
				<div class="col-sm-3"></div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success pull-right">登録</button>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- 	<div th:substituteby="common/js-import"></div> -->
	<script th:src="@{/resources/js/product/main.js}"></script>

</body>
</html>